/*ANIMATIONS*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100px); /* Start from below */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Slide into original position */
    opacity: 1;
  }
}



/* background-color:rgba(174, 0, 0, 0.35) ; */

.home-navbar {
    width: 100%;
    height: 773px;
    display: flex;
    background-color:rgb(249, 162, 1);
    background-size: cover;

}

.home-navbar .home-container {
    margin-top: 55px;
    min-height: 642px;
    animation: slideIn 0.6s ease-in 1 forwards;
    will-change: transform;
}

.home-navbar .home-container .menu {
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .home-container .menu .links {
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .home-container .menu .links .login-button{
  width: 140px;
  height: 45px;
  border-radius: 4px;
  background: rgba(174, 0, 0, 1);
  border: none;
  text-align: center;
  font-family: 'Verdana';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f8f8ff;
}

.home-navbar .home-container .menu .user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

.home-navbar .home-container .menu .logo-link {
   width: 60px;
   height: 60px;
   background-color: rgba(174, 0, 0, 1);
   border-radius: 50%;
}

.home-navbar .home-container .menu .brand-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  padding-left: 10px;
  padding-top: 5px;
}

.home-navbar a {
 text-decoration: none;
}

.home-navbar .hover-line a {
    font-family: 'Verdana';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    color: #f8f8ff;
    z-index: 100;
   }

   .home-navbar .underline {
    display: block;
    content: "";
    border-bottom: solid 2px rgba(174, 0, 0, 1);
   }

   .home-navbar .hover-line:after {
    display: block;
    content: "";
    border-bottom: solid 2px rgba(174, 0, 0, 1);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
   }

   .home-navbar .hover-line:hover:after {
    transform: scaleX(1);
   }

   .home-navbar div.hover-line:after {
    transform-origin: 0% 50%;
   }

   .home-navbar .home-container .header-frame {
     margin-top: 80px;
     height: 462px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }

   .home-navbar .home-container .header-frame .hero{
    width: 510px;
    display: flex;
    flex-direction: column;
  }

  .home-navbar .home-container .header-frame .hero .header-text {
   width: 450px;
   height: 150px;
   font-family: Verdana,Tahoma, sans-serif;
   font-size: 50px;
   font-style: normal;
   font-weight: 750;
   line-height: normal;
   letter-spacing: -0.75px;
   padding-top: 30px;
   color: #f8f8ff;
  }

  .home-navbar .home-container .header-frame .hero .heading .text-primary {
    font-family: Verdana,Tahoma, sans-serif;
   font-size: 60px;
   font-style: normal;
   font-weight: 800;
   letter-spacing: -0.75px;
   padding-top: 40px;
    color: rgba(174, 0, 0, 1);
  }

  .home-navbar .home-container .header-frame .hero  .desc {
    width: 510px;
    height: 42px;
    font-family: "Roboto Serif";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    color: white;
   }



   .home-navbar .home-container .header-frame .hero .btn-group .signup-btn {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background: rgba(174, 0, 0, 1);
    border: none;
    text-align: center;
    font-family: 'Verdana';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #f8f8ff;
   }

   .home-navbar .home-container .header-frame .hero .btn-group .order-btn {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background: rgba(174, 0, 0, 1);
    border: none;
    text-align: center;
    font-family: 'Verdana';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #f8f8ff;
   }




.home-navbar .home-container .header-frame .hero-img .pizza {
  width: 500px;
  border-radius: 50%;
  animation: rotate 15s linear infinite;
}


   .other-navbar {
    width: 100%;
    height: 400px;
    display: flex;
    background-image: url("/public/img/bg-otherNavbar.jpg");
    background-size: cover ;
    background-color: rgba(17, 16, 16, 0.6);
    background-blend-mode: darken;
}

.other-navbar .home-container {
    margin-top: 55px;
}

.other-navbar .home-container .menu {
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.other-navbar .home-container .menu .links {
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-navbar .home-container .menu .links .login-button{
  width: 140px;
  height: 45px;
  border-radius: 4px;
  background: rgba(174, 0, 0, 1);
  border: none;
  text-align: center;
  font-family: 'Verdana';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f8f8ff;
}

.other-navbar .home-container .menu .user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

.other-navbar .home-container .menu .logo-link {
  width: 60px;
   height: 60px;
   background-color: rgba(174, 0, 0, 1);
   border-radius: 50%;
}

.other-navbar .home-container .menu .brand-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  padding-left: 10px;
  padding-top: 5px;
}

.other-navbar a {
 text-decoration: none;
}

.other-navbar .hover-line a {
  font-family: 'Verdana';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: #f8f8ff;
  z-index: 100;
   }

   .other-navbar .underline {
    display: block;
    content: "";
    border-bottom: solid 2px rgb(241, 161, 23);
   }

   .other-navbar .hover-line:after {
    display: block;
    content: "";
    border-bottom: solid 2px rgb(241, 161, 23);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
   }

   .other-navbar .hover-line:hover:after {
    transform: scaleX(1);
   }

   .other-navbar div.hover-line:after {
    transform-origin: 0% 50%;
   }





   /* BASKET */

.basket-frame {
    position: relative;
    padding: 10px 4px 0px 4px;
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #f8f8ff;
    border-radius: 16px;
  }
  
  .basket-frame .all-check-box {
    padding: 0px 6px;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #d7b586;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #343434;
  }

  .basket-frame .all-check-box .empty-card {
    font-size: 16px;
    font-family: Verdana;
    font-weight: 600;
    color: #000000;
  }
  
  .basket-frame .basket-info-box {
    position: relative;
    margin-top: 6px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .basket-info-box .product-img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border-radius: 29px;
  }
  
  .basket-info-box .product-name {
    margin-left: 11px;
    width: 185px;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  
  .basket-info-box .product-price {
    width: 80px;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #ae0000;
  }
  
  .basket-info-box
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 14px;
  }
  
  .basket-info-box .css-ece9u5 {
    min-width: 72px;
  }
  
  .basket-frame .cancel-btn {
    position: absolute;
    top: 33%;
    right: 2%;
    cursor: pointer;
  }
  
  .basket-frame .basket-order {
    margin-top: 10px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .basket-order .price {
    width: 200px;
    display: flex;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
  }
  
  .basket-frame .orders-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  .basket-frame .orders-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
  .basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  .basket-frame .orders-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .basket-frame .orders-main-wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
  }
  